body {
    min-width: 1000px;
}


.cell {
    width: 2em;
    height: 2em;
    border: 1px solid black;
}

.form{
    margin: 0 auto;
    padding-bottom: 15px;
}

.form form, button{
    margin: 15px 0;
}

.form .labe{
    display: inline-block;
    width: 50px;
}

.personas img{
    border: 5px solid green;
    width: 150px;
    height: 225px;
}

.personas div{
    margin-right: 1em;
    padding-bottom: 2em;
    display: inline-block;
    max-width: 150px;
}

.personas span{
    width: 150px;
    text-align: center;
    vertical-align: middle;
}

.choosable:hover{
    background-color: black;
    opacity: 20%;
    cursor: pointer;
}

.leftHalf{
    display: block;
    position: absolute;
    min-width: 500px;
    width: 50%;
    left: 10px;
}

.RightHalf{
    display: block;
    position: absolute;
    min-width: 500px;
    width: 50%;
    right: 0;
}

.left{
    display: block;
    position: absolute;
    width: 78%;
    left: 10px;
}

.right {
    background-color: beige;
    display: block;
    position: absolute;
    width: 20%;
    right: 10px;
}

.chosen{
    border: 5px solid red !important;
    color: green;
}

button:hover:enabled{
    cursor: pointer;
    opacity: 80%;
}

.tg {
    min-height: 50em;
    border-collapse:collapse;
    border-spacing:0;
}

.tg td{
    height: 3em;
    width: 5em;
    border-color:black;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    padding:10px 5px;
}

.tg {border-color:#000000;color:#000000;text-align:center;vertical-align:middle}
.tg .tg-gvcd{background-color:#ffffff}
.tg .tg-cz84{background-color:#fe0000}

.notes{
    margin-left: 10px;
    border-collapse:collapse;
}

.notes td{
    border-color:black;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
}

.status{
    padding: 0 5px;
}

.minus{
    background-color: #fe0000;
}

.plus{
    background-color: green;
}

.canChoose{
    background-color: lightgreen !important;
    border: 3px solid green !important;
}

.canChoose:hover{
    background-color: green !important;
    border: 3px solid darkgreen !important;
}

.currentCell{
    background-color: blanchedalmond !important;
}